<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Show Image</title>
</head>
<body>
<div class="box" >
    <h3 style="text-align: center">点击事件回放</h3>
    <a href="{{ url_for('show_img') }}">刷新</a>
    <a href="{{ url_for('delete_all_files') }}">清空</a>
    {% for img in img_list %}
    <ul>
        <li>
            <p>{{ img_time_list[loop.index0] }}</p>
            <div>
                <img class="img" src="{{ img_list[loop.index0] }}" style="width: 20%;" alt="" />
            </div>
        </li>
    </ul>
    {% endfor %}
</div>

<style type="text/css">
    img:active {
        margin-left: 400px;
        transform: scale(1.5);
    }
</style>


</body>
</html>